<?php
	/*
	 *
	 *	MYSQL CONFIG
	 *
	 */
	$mysql_user = "";
	$mysql_password = "";
	$mysql_database = "";
	$mysql_host = "";
	
	/*
	 *
	 *	GENERAL CONFIG
	 *
	 */
	date_default_timezone_set("Europe/Oslo");

	/*
	 *
	 *	FUNCTIONS
	 *
	 */
	function getCurrentSeason() {
		if(date("n") < 6) return (date("Y") - 1) . "/" . date("Y");
		return date("Y") . "/" . (date("Y") + 1);
	}

	function getNextSeason() {
		if(date("n") < 6) return date("Y") . "/" . (date("Y") + 1);
		return date("Y") . "/" . (date("Y") + 2);
	}