<?php
	/*
	 *
	 *	MYSQL CONFIG
	 *
	 */
	$mysql_user = "";
	$mysql_password = "";
	$mysql_database = "";
	$mysql_host = "";
	
	/*
	 *
	 *	GENERAL CONFIG
	 *
	 */
	date_default_timezone_set("Europe/Oslo");

	$data_lisensierte_spillere = 1685;
	$data_dommere = 16;