@media only screen and (max-width: 996px) {
	header {
		height: 125px;
	}
    .logo {
    	margin-left: 0px;
    	width: 100%;
    	background: #fff url(../img/logo.png) no-repeat center top;
    	background-size: contain;
    }
    .navigation {
		float: left;
		width: 100%;
		margin-top: 0px;
	}
	.background, .clock {
		top: 127px;
	}
	.morenav {
		right: 13%;
		top: 120px;
	}

	.login {
		right: 20px;
		top: 150px;
	}
	.news, .widgets {
		width: 100%;
	}
	.newspaper {
		display: none;
	}
	.divider {
		border-top: 2px solid rgb(229,229,229);
		display: block;
		float: left;
	}
}

@media only screen and (max-width: 799px) {
	.morenav {
		right: 10%;
	}
}

@media only screen and (max-width: 711px) {
	.weather {
		width: 200px;
		height: 200px;
	}
	.weather .celsius, .weather .headline {
		font-size: 14px;
	}
	.weather table {
		padding-top: 0px;
	}
	.newsfeed {
		margin-left: 20px;
		margin-top: 70px;
	}
	.navigation {
		text-indent: 0px;
		margin-left: 5px;
	}
	.notification,  .notification a{
		height: 0px;
		width: 0px;
		color: transparent;
		background-color: transparent; 
	}
}

@media only screen and (max-width: 649px) {
	.navigation {
		display: none;
	}
	.mininav {
		display: inline;
		width: 93%;
		margin-left: 20px;
	}
}

@media only screen and (max-width: 459px) {
	.login {
		height: 80px;
		width: 160px;
	}
}